<html>
<head>

</head>

<body>
	<p> Berikut adalah artikel yang dipilih untuk dicari nilai sentiment nya. </p>
	<p> 
		Keterangan
		<br/> TP : Prediksi Anies - Sandi, Evaluasi Anies - Sandi
		<br/> FP : Prediksi Anies - Sandi, Evaluasi Ahok - Djarot
		<br/> TN : Prediksi Ahok - Djarot, Evaluasi Ahok - Djarot
		<br/> FN : Prediksi Ahok - Djarot, Evaluasi Anies - Sandi
	</p>

	<table>
	<thead>
		<tr>
			<th> No. </th>
			<th> Nama File </th>
			<th> Evaluasi Inggris </th>
			<th> Evaluasi Indonesia </th>
		</tr>
	</thead>
	<tbody>
	{{ html_articles|safe }}

	</tbody>
	</table>

	<br/>
	<br/>
	<br/>
</body>

</html>